.labels{
  width: 10%;
  display: inline-block;
  margin-right: 5%;
  text-align: right;
}
.inputs{
  width: 200px;
  text-align: center;
  align-items: flex-end;
}

.filds{
  display: inline-block;
  width: 20%;
}

h1.header{
  text-align: center;
  font-size: 4em;
}

div.author{
  text-align: right;
  font-style: italic;
  font-size: 2em;
  margin-right: 15%;
}

div.text{
  text-align: center;
  font-size: 1em;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
